body {
    height: 100vh;
    background-color: antiquewhite !important;
}

.reset-btn {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-out;
}

.reset-btn:active {
    transform: scale(0.98);
    box-shadow: none;
}
